.q-widget-calendar
    ul li
      margin: 0

    .q-calendar-navigation
        display: flex
        flex-direction: row
        list-style: none
        padding: 0

        .q-navigation-month
            flex-grow: 1
            text-align: center
            align-self: center
            font-weight: 600

        .q-navigation-item
            display: inline-block

            margin: 0

            &:first-child
                text-align: left
                align-self: start

            &:last-child
                text-align: right
                align-self: end

            a,
            span
                border: none
                color: $color-text
                display: inline-block
                padding: 0.5*$pillow-small 1*$pillow-small
                text-decoration: none

    table.q-calendar-table
        border: 0
        border-collapse: collapse
        border-spacing: 0
        padding: 0


        thead
            td,
            th
                padding: 12px

        td,
        th
            text-align: center
            user-select: none
            padding: 0

        th, td
            max-width: 30px
            max-height: 30px

            &.q-calendar-today
                color: $color-red
                font-weight: bold

            &.q-calendar-selected
                background-color: $color-primary
                color: $color-white
                font-weight: 200

                a,
                a:active,
                a:hover,
                a:visited,
                a:focus
                    color: $color-white
                    font-weight: 200

        a,
        a:active,
        a:hover,
        a:visited,
        a:focus
            text-decoration: none
            font-weight: 200
            display: block
            padding: 8px

        .q-calendar-week
            color: $color-gray-dark
            vertical-align: middle
            font-size: $font-size-milli

        .q-calendar-link
            color: $color-text

            &:hover
                background-color: $color-text
                color: $color-white
                cursor: pointer

                a,
                a:active,
                a:hover,
                a:visited,
                a:focus
                    text-decoration: none
                    font-weight: 200
                    color: $color-white

            .q-calendar-selected
                background-color: $color-primary
                color: $color-white

                &:hover
                    background-color: $color-text
                    color: $color-white
                    cursor: pointer

        .q-calendar-today
            border-bottom: 2px solid $color-red

        .q-calendar-adjacent
            a,
            a:active,
            a:hover,
            a:visited,
            a:focus
                color: $color-gray-dark

@media (min-width: 900px)
    .q-widget-calendar
        max-width: $widget-width