@page "/app/timesheet/"
@page "/app/timesheet/{SelectedDate:datetime}"
@attribute [Authorize]

@using Quarter.Components
@using Quarter.Core.Utils
@using Quarter.State

<ApplicationPage>
    <PageContent>
        <div class="q-timesheet--page">
            <div class="q-timesheet--context">
                <div class="q-grouped-content">
                    <div class="q-list">
                         <CalendarWidget SelectedDate="SelectedDate" LinkGeneratorFn="@Page.Timesheet"/>
                         <TimesheetSummaryWidget/>
                    </div>
                </div>
            </div>
            <div class="q-timesheet--sheet">
                <TimesheetGrid/>
            </div>
            <div class="q-timesheet--activities">
                <TimesheetActivitySelectorWidget/>
            </div>
        </div>
    </PageContent>
</ApplicationPage>

@inherits Quarter.Core.UI.Components.QuarterComponent<Quarter.State.ApplicationState>

@code {
    [Parameter]
    public DateTime? SelectedDate { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        SelectedDate ??= DateTime.UtcNow.Date;

        await DispatchAsync(new LoadProjects());
        await DispatchAsync(new LoadTimesheetAction(new Date(SelectedDate.Value)));
    }
}