.calendar-month-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
}

.calendar-month-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3);
}

.calendar-month-header-content .month {
    margin-bottom: var(--spaceing-2);

    color: var(--text-color);

    font-size: var(--font-size-5xl);
    font-weight: 300;
    font-style: italic;
    line-height: 1;
}

.calendar-month-header-content .year {
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.1em;

    color: var(--color-accent);
}

.calendar-month-day {
    display: grid;
    grid-template-columns: 60px 1fr 100px; /* Date | Note | Time */
    align-items: baseline;
    padding: var(--spacing-6) 0;
    border-bottom: 1px solid var(--border-color);
    transition: all 0.2s ease;
    font-family: var(--font-family-serif);
}

.calendar-month-day:last-child {
    border-bottom: none;
}

.calendar-month-day:hover {
    border-color: var(--text-color-second);
    transition: color 0.2s;
}

.calendar-month-day .date {
    text-align: right;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.calendar-month-day .date .number {
    font-size: var(--font-size-3xl);
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.2s;
}

.calendar-month-day .name {
    font-size: var(--font-size-2xl);
    color: var(--text-color-second);
    margin-top: 2px;
}

.calendar-month-day .time {
    text-align: right;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
}

.calendar-month-day .time .text-value {
    margin-left: var(--spacing-1);
    color: var(--text-color);
}

.calendar-month-day .time .text-unit {
    margin-left: var(--spacing-1);
}

/* Highlight today using the accent color.  */
.calendar-month-day.today .date .number,
.calendar-month-day.today .name,
.calendar-month-day.today .time,
.calendar-month-day.today .time .text-value {
    color: var(--color-accent);
}
