.report-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-3);
    margin-bottom: 50px;
    position: relative;
}

.report-header-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    flex-grow: 1;
    align-items: center;
}

.report-header-content .main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: var(--spaceing-2);

    color: var(--text-color);

    font-size: var(--font-size-5xl);
    font-style: italic;
    line-height: 1;
}

.report-header-content .second {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--color-accent);
    line-height: 1;
    letter-spacing: 0.1em;
}

.report-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-3);
    margin-top: 50px;
    margin-bottom: 50px;

    font-family: var(--font-family-serif);
    font-size: var(--font-size-4xl);
    font-style: italic;
}

table.weekly-report-table thead th {
    text-align: center;
}

table.weekly-report-table td {
    color: var(--text-color-second);
}

table.weekly-report-table th {
    color: var(--text-color);
}

table.weekly-report-table td .activity {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);
    align-items: center;
}

table.weekly-report-table td:not(:first-child):not(.action),
table.weekly-report-table th:not(:first-child):not(.action) {
    border-left: none;
}

table.weekly-report-table td:first-child,
table.weekly-report-table th:first-child {
    border-right: 1px solid var(--border-color);
}

table.weekly-report-table td.total {
    font-weight: 600;
}
