.table-wrapper {
    overflow-x: auto;
    border: 1px solid var(--border-color);
    border-radius: var(--std-radius);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--font-size-base);
}

th,
td {
    padding: var(--spacing-4);
    text-align: right;
    border-bottom: 1px solid var(--border-color);
}

th:first-child,
td:first-child {
    text-align: left;
    position: sticky;
    left: 0;
    background: var(--bg-color);
    z-index: 10;
}

td:not(:first-child):not(.action),
th:not(:first-child):not(.action) {
    border-left: 1px solid var(--border-color);
}

th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    letter-spacing: 0.05em;
    color: var(--text-color-second);
    background-color: rgba(0, 0, 0, 0.01);
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
}

tbody tr:hover td {
    background-color: rgba(0, 0, 0, 0.01);
}

td {
    color: var(--text-color);
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

tfoot {
    font-weight: 600;
}
