/** buttons *****************************************************************/
/*
button {
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    gap: 0.5rem;

    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    border-color: var(--blue-400);

    background-color: var(--blue-100);

    color: var(--blue-700);

    padding: var(--spacing-3) var(--spacing-4);
    line-height: 1;

    font-size: 1rem;
    font-weight: 600;

    white-space: nowrap;
}

button.outline {
    border: 2px solid var(--blue-700);
    background-color: transparent;
    color: var(--blue-700);
}

button:focus {
    outline-style: solid;
    outline-width: 4px;
    outline-color: var(--blue-700);
}

button.cancel {
    background-color: transparent;
    border: none;
}

button:disabled {
    border-color: var(--blue-200);
    background-color: var(--blue-100);
    color: var(--blue-500);
}
*/

/** Ghost buttons are round with a small border. Used for navigation in calendar and report. */
button.ghost {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--spacing-8);
    height: var(--spacing-8);

    transition: all 0.2s;
    cursor: pointer;

    border-radius: 50%;
    border: 1px solid var(--border-color);
    background: none;
    color: var(--text-color-second);
}

button.ghost svg {
    width: var(--spacing-4);
    height: var(--spacing-4);
}

button.ghost:hover {
    border-color: var(--text-color);
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.02);
}
