/** buttons *****************************************************************/
button {
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    gap: 0.5rem;

    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    border-color: var(--blue-400);

    background-color: var(--blue-100);

    color: var(--blue-700);

    padding: var(--spacing-3) var(--spacing-4);
    line-height: 1;

    font-size: 1rem;
    font-weight: 600;
}

button.ghost {
    border: none;
    background-color: transparent;
    color: var(--blue-700);
}

button.outline {
    border: 2px solid var(--blue-700);
    background-color: transparent;
    color: var(--blue-700);
}

button:focus {
    outline-style: solid;
    outline-width: 4px;
    outline-color: var(--blue-700);
}

button.cancel {
    background-color: transparent;
    border: none;
}

button:disabled {
    border-color: var(--blue-200);
    background-color: var(--blue-100);
    color: var(--blue-500);
}
