.calendar-month-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
}

.calendar-month-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-month-header-content .month {
    margin-bottom: var(--spaceing-2);

    color: var(--text-color);

    font-size: var(--font-size-5xl);
    font-weight: 300;
    font-style: italic;
    line-height: 1;
}

.calendar-month-header-content .year {
    color: var(--text-color);

    font-size: var(--font-size-xl);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.1em;
}

/** calendar month **********************************************************
.calendar-month {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.calendar-month h1 {
    font-weight: 900;
    font-size: var(--font-size-5xl);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.calendar-month h1 .year {
    font-weight: 200;
}

.calendar-month-day {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid var(--soft-border-color);
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}

.calendar-month-day .date {
    min-width: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;

    margin: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-xl);
    font-weight: 600;
}

.calendar-month-day .date.today {
    color: var(--white);
    background-color: var(--red-0);
    border-radius: 50%;
}

.calendar-month-day .holiday {
    color: var(--red-0);
}

.calendar-month-day .day {
    flex-grow: 1;
}

.calendar-month-day .reported {
}
*/
