/** drop down menu **********************************************************/
.drop-down-menu-back-drop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    z-index: 80;

    /** Useful for debugging
    background-color: rgba(1, 1, 1, 0.1);
    */
}

.drop-down-initiator {
    overflow: visible;
}

.drop-down-initiator,
.drop-down-initiator button {
    cursor: pointer;
}

.drop-down-menu {
    display: flex;
    flex-direction: column;
    position: absolute;

    background-color: var(--gray-1);

    top: 0;
    left: 0;
    transition: all 0.5s ease;

    height: 100vh;
    width: 100vw;

    z-index: 100;
}

.drop-down-menu-item,
.drop-down-menu-header {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 1rem 1rem;
}

.drop-down-menu-item {
    cursor: pointer;
}

.drop-down-menu-item:hover {
    background-color: var(--gray-3);
    transition: background-color 0.2s;
}

.drop-down-menu-item .content,
.drop-down-menu-header .content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.drop-down-menu-item .appendix {
    font-size: var(--font-size-s);
    color: var(--gray-5);
    /* icon width + gap */
    margin-left: calc(1.75rem + 1rem);
}

.drop-down-menu-header .content {
    justify-content: space-between;
    width: 100%;
}

.separator {
    color: var(--gray-3);
}

@media (min-width: 1024px) {
    .drop-down-initiator {
        position: relative;
    }

    .drop-down-menu {
        min-width: 320px;
        max-width: 320px;

        height: unset;

        border-radius: 0.5rem;
        border: 2px solid var(--gray-9);

        /* x, y, spread, blur */
        box-shadow: 0 8px 8px -8px var(--gray-8);

        left: unset;
        right: 1rem;
        top: 1rem;
    }

    /** Drop-down menus does not need the header on large screens. */
    .drop-down-menu-header {
        display: none;
    }
}
