label.checkbox {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-weight: unset;
    color: var(--color-text);
}

label.checkbox input {
    border: 2px solid var(--blue-700);
    align-self: start;
    appearance: none;
    width: 1rem;
    height: 1rem;
}

label.checkbox input:checked {
    background-color: var(--blue-400);
}

label.checkbox input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--blue-700);
}
