@import "./definitions.css";
@import "./buttons.css";
@import "./form.css";
@import "./navigation.css";
@import "./drop-down-menu.css";
@import "./dialog.css";
@import "./calendar.month.css";
@import "./projects.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-bg);

    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
}

.application {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.application-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/** icons *******************************************************************/
.icon {
    color: var(color-text);
    display: block;
    width: 1.75rem;
    height: 1.75rem;
}

.icon.small {
    width: 1rem;
    height: 1rem;
}

/** text ********************************************************************/

.text-value {
    color: var(--value--color);
    font-weight: 600;
}

.text-unit {
    color: var(--unit--color);
    font-weight: 200;
}

/** links *******************************************************************/
a,
a:active,
a:visited {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    color: var(--violet-7);
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content h1 {
    font-weight: 900;
    font-size: var(--font-size-5xl);
    margin-top: var(--spacing-16);
    margin-bottom: var(--spacing-8);
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1rem 0;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: var(--gray-1);
    border-bottom: 1px solid var(--gray-3);
    color: var(--blue-700);
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid var(--gray-3);
}

tbody tr:hover {
    background-color: var(--gray-1);
}

th,
td {
    padding: var(--spacing-2);
    border: 0;

    text-align: left;
}

td.action:last-child {
    padding: 0;
}

.chip {
    background-color: var(--blue-50);
    color: var(--blue-500);
    padding: 0.5rem 1rem;
}

.chip:hover {
    background-color: var(--blue-100);
}

@media (min-width: 1024px) {
    .application {
        max-width: 900px;

        margin: 0 auto;
        padding-top: 96px;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: var(--spacing-3);
        border: 0;

        text-align: left;
    }
}
