@using Quarter.Components.Navigation
@using Quarter.State

<PageTopArea />

<div class="q-main-area">
    <!-- Navigation is along the left hand side on larger screens and aligned at the bottom for small screens -->
    <PageNavigation />

    <div class="q-content" test="page-content">
        @PageContent
    </div>
</div>

@foreach (var (type, dictionary) in Modals())
{
    <DynamicComponent Type="type" Parameters="dictionary" />
}

<Icons />

@inherits Quarter.Core.UI.Components.QuarterComponent<Quarter.State.ApplicationState>

@code {
    #nullable enable

    [Parameter]
    public RenderFragment? PageContent { get; set; }

    [Parameter]
    public bool ColumnMode { get; set; }

    private IList<ModalState> Modals()
    {
        if (State?.Modals is not null)
            return State.Modals.ToList();
        return Array.Empty<ModalState>();
    }
}