<div class="q-empty-collection">
    <div class="q-empty-collection__message">
        @Icon
        <h2 test="empty-header">@Header</h2>
        <p class="q-fine-print" test="empty-message">@Message</p>
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; } = "";
    [Parameter]
    public string Message { get; set; } = "";
    [Parameter]
    public string IconRef { get; set; } = "";

    private MarkupString Icon
        => new MarkupString(@$"<svg class=""qa-icon--xx-large""><use xlink:href=""{IconRef}""></use></svg>");
}