<!-- User context bar is aligned at the top. Containing the logo and the user avatar (in future maybe a bell) -->
<div class="q-top-area">
    <div class="q-top-area__logo">
        <img class="q-icon" src="logo.png" alt="Quarter logo">
    </div>
    <!-- div class="q-top-area__user">
        <a href="#" class="q-navigation-item">
            <svg class="q-icon">
                <use xlink:href="#icon-user"></use>
            </svg>
        </a>
        <a href="#" class="q-navigation-item">
            <svg class="q-icon">
                <use xlink:href="#icon-bell"></use>
            </svg>
        </a>
    </div -->
</div>

@code {

}