@using Quarter.Utils

<div class="q-context-bar">
    <div class="q-context-bar__tabs">
        <ul>
            @foreach (var tab in Tabs)
            {
                <li>
                    <NavLink ActiveClass="q-is-active" Match="NavLinkMatch.Prefix" href="@tab.Path" class="q-tab-item" test="tab-item">
                        @tab.Title
                    </NavLink>
                </li>
            }
        </ul>
    </div>
    <div class="q-context-bar__actions">
        @ChildContent
    </div>
</div>


@code {
    [Parameter]
    public IList<TabData> Tabs { get; set; } = new List<TabData>();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}