:root {
    --font-xs: 0.8rem;
    --font-s: 1.0rem;
    --font-m: 1.1rem;
    --font-l: 2.2rem;
    --font-xl: 3.2rem;

    --color-blackish: #232323;
    --color-red: #e6352b;
    --color-white: #fff;
    --color-whiteish: #efefef;
    --color-gray: #808080;
    --color-gray-vlight: #c3c3c3;
    --color-gray-dark: #1f1b1a;

    --color-background: var(--color-white);
    --color-text: var(--color-blackish);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--color-gray-dark);
        --color-text: #b8b8b8;
    }
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
