@import './base.css';

body {
    display: flex;
    place-items: center;
}

/** The view app that mounts quarter. This is the outer most container inside body. */
#app {
    display: flex;
    margin: 0 auto;
}

/** The application that sets up a fairly small container to limit the UI inside. */
#q-app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    border: 1px solid hotpink;
}

@media (min-width: 1024px) {  /** Large screens */

    #q-app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}
