@import './base.css';

body {
    display: flex;
    place-items: center;
    margin: 0;
    padding: 0;
}

/** The view app that mounts quarter. This is the outer most container inside body. */
#app {
    display: flex;
    margin: 0 auto;

    height: 100vh;
    max-height: 100vh;

    width: 100vw;
    max-width: 100vw;
}

#q-app {
    flex-grow: 1;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.q-card {
    padding: 0 2rem;
}

.q-button {
    padding: 0;
}

.q-button__ghost {
    background-color: transparent;
    border: 0;
    color: var(--color-text);
}

/** Round button is used when there is only an icon. */
.q-button__round {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid transparent;

    width: 40px;
    height: 40px;
}

.q-drop-down-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    background-color: var(--color-background);

    left: 0;
    right: 0;
    transition: all 0.5s ease;

    border-radius: 0 0 0.5rem 0.5rem;

    /* x, y, spread, blur */
    box-shadow: 0 8px 8px -8px #14141e;
}

.q-drop-down-menu .q-menu-item {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.q-drop-down-menu a.q-menu-item:hover {
    background-color: var(--color-gray-1000);
}

.q-drop-down-menu a.q-menu-item  {
    text-decoration: none;
    color: var(--color-text);
}

.q-drop-down-menu .q-menu-item {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.q-drop-down-menu .q-menu-item--content {
    display: flex;
    flex-direction: column;
}

.q-drop-down-menu .q-menu-item--icon {
    align-self: center;
}

.q-drop-down-menu .q-menu-item--title {
    font-weight: 900;
}

.q-drop-down-menu .q-menu-item--sub-title {}

@media (min-width: 1024px) {  /** Large screens */
    /** The application that sets up a fairly small container to limit the UI inside. */
    #q-app {
        display: grid;
    }

    .q-drop-down-menu {
        max-width: 320px;
        border-radius: 0 0 0;
    }
}
