@using Microsoft.AspNetCore.Authentication
@model AuthenticationScheme[]

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login to Quarter</title>
        <base href="~/" />
        <link rel="stylesheet" href="quarter.css" />
        <meta name="theme-color" content="#252525">
</head>
<body>
<div class="q-grouped-content q-login">
    <div class="q-list" style="max-width: 40rem;">
        <div class="q-list-item">
            <div class="q-list-item__header">
                <img class="q-icon q-icon--m" src="logo-alt.png" alt="Quarter logo">
                <div class="q-list-item__title">Login to Quarter</div>
            </div>
            <div class="q-list-item__content">
                <a class="q-button q-button--primary q-button--full" href="/account/login/github">Using GitHub</a>
                <a class="q-button q-button--primary q-button--full" href="/account/login/google">Using Google</a>
                <div class="q-self-host-message">
                    <p class="q-fine-print">
                        User registration is open for anyone with a user account at one of the Identity Providers above.
                        Quarter is a free service, it takes no responsibility of the service (e.g. SLA, backups, etc).
                        It will be open for registrations for as long as there is free capacity on our server.
                    </p>
                    <p class="q-fine-print">
                        If the service is important to you we recommend that you host your own installation, see details at
                        <a class="q-href" href="https://github.com/eliasson/quarter">GitHub</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>