.qa-activity-marker
  min-width: $activity-marker-size
  max-width: $activity-marker-size
  width: $activity-marker-size
  min-height: $activity-marker-size
  max-height: $activity-marker-size
  height: $activity-marker-size
  border-radius: 4px
  border: 2px solid transparent
  display: inline-block

  &__small
    min-width: $activity-marker-size-small
    max-width: $activity-marker-size-small
    width: $activity-marker-size-small
    min-height: $activity-marker-size-small
    max-height: $activity-marker-size-small
    height: $activity-marker-size-small

.qa-activity-marker-title
  display: inline-block
  vertical-align: top