.qa-landing-page
  display: flex
  height: 100vh

  &__column
    flex: 50%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

#qa-timesheet-extend-sod,
#qa-timesheet-extend-eod
  align-self: center