table.qa-report-table
    tr
        th,
        td
            text-align: right
            padding: $pillow-small

        th:first-child,
        td:first-child
            text-align: left

    tbody
        tr
            th.qa-project-title
                padding: $pillow-large $pillow-small $pillow-small $pillow-small

    tfoot tr
        th,
        td
            padding: $pillow-large $pillow-small
