@using Quarter.State.ViewModels
@using Quarter.Core.Queries

<div class="qa-widget qa-home-widget-summary">
    <div class="qa-home-widget-summary--value" test="week-total">@Total</div>
    <div class="qa-home-widget-summary--label">Current week</div>
</div>

@code {
    [Parameter]
    public TimesheetSummaryQueryResult? Summary { get; set; }

    private string? Total
        => Summary?.TotalAsHours();
}