a.q-button,
.q-button,
button,
input[type=button],
input[type=submit] {
  background-color: #252525;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  box-shadow: 4px 4px 4px -4px #14141e;
}
a.q-button:not([disabled]):hover,
.q-button:not([disabled]):hover,
button:not([disabled]):hover,
input[type=button]:not([disabled]):hover,
input[type=submit]:not([disabled]):hover {
  background-color: #181818;
  border: 2px solid transparent;
  color: #ffffff;
}
a.q-button:focus,
.q-button:focus,
button:focus,
input[type=button]:focus,
input[type=submit]:focus {
  border: 2px solid #252525;
  outline: none;
}
a.q-button[disabled],
.q-button[disabled],
button[disabled],
input[type=button][disabled],
input[type=submit][disabled] {
  cursor: default;
  opacity: 0.5;
}

.q-button--ghost {
  background-color: transparent;
  color: #252525;
  border-color: #252525;
}
.q-button--ghost:not([disabled]):hover {
  background-color: transparent;
  color: #252525;
  border-color: #252525;
}

.q-button--icon {
  padding: 4px 6px;
}
.q-button--icon.q-button--ghost {
  background-color: transparent;
  border-color: transparent;
  color: #6f6f6f;
  box-shadow: none;
}
.q-button--icon.q-button--ghost:not([disabled]):hover {
  background-color: transparent;
  border-color: transparent;
  color: #252525;
}
.q-button--icon.q-button--ghost:focus {
  color: #252525;
}
.q-button--icon.q-button--inverted {
  color: #ffffff;
  border-color: transparent;
}
.q-button--icon.q-button--inverted:not([disabled]):hover {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}
.q-button--icon:not([disabled]):hover {
  color: #ffffff;
  border-color: transparent;
}

.q-button--label {
  margin: 0 1rem;
  font-weight: 600;
}

.q-button--cancel, .q-button--primary {
  padding: 16px 16px;
}
.q-button--wide {
  padding: 10px 48px;
}
.q-button--full {
  width: 100%;
}
.q-button--full + .q-button--full {
  margin-top: 16px;
}
.q-button--square {
  min-width: 42px;
  min-height: 42px;
}
.q-button--danger {
  color: #ffffff;
  background-color: #e72922;
  border-color: #c11b15;
}
.q-button--danger:not([disabled]):hover {
  background-color: #d81e17;
  border-color: #c11b15;
}

.q-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.q-modal--backdrop {
  width: 100%;
  height: 100%;
  z-index: 90;
  position: absolute;
  opacity: 30%;
  background-color: #252525;
}
.q-modal--overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.q-modal--container {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  min-width: 22rem;
  z-index: 200;
  background-color: #ffffff;
  border: 2px solid #252525;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0 #14141e;
}
.q-modal--header {
  padding: 16px;
}
.q-modal--header--title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.q-modal--header h1, .q-modal--header h2, .q-modal--header h3 {
  flex-grow: 1;
  align-self: center;
  text-align: center;
  font-weight: 200;
}
.q-modal--header .q-button--close {
  align-self: flex-end;
}
.q-modal--content {
  padding: 16px;
}

@media only screen and (max-width: 48em) {
  .q-modal--container {
    max-width: 96%;
    min-width: 96%;
  }
}
.q-context-bar {
  display: flex;
  flex-direction: row;
  justify-items: left;
  margin-bottom: 24px;
}
.q-context-bar__tabs {
  flex-grow: 1;
}
.q-context-bar__tabs ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.q-context-bar__tabs ul li {
  list-style: none;
  padding: 8px;
}
.q-context-bar__tabs ul li + li {
  margin-top: 0px;
  margin-left: 24px;
}
.q-context-bar__tabs ul .q-tab-item {
  padding-bottom: 8px;
  font-weight: 600;
  color: #6f6f6f;
}
.q-context-bar__tabs ul .q-tab-item.q-is-active {
  border-bottom: 3px solid #252525;
  color: #252525;
}
.q-context-bar__actions {
  align-self: flex-end;
}

.q-context-menu {
  display: block;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #252525;
  box-shadow: 4px 4px 4px -4px #14141e;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  transition: all 0.5s ease;
  right: 50px;
  width: 256px;
  max-width: 256px;
}
.q-context-menu li.q-context-menu-item {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
}
.q-context-menu li.q-context-menu-item:hover {
  background-color: #252525;
  color: #ffffff;
}
.q-context-menu li.q-context-menu-item .q-context-menu-item__label {
  padding: 0 12px;
  color: #252525;
  font-weight: 200;
}
.q-context-menu li.q-context-menu-item:hover .q-context-menu-item__label {
  color: #ffffff;
}

.q-context-menu-backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.q-empty-collection--full {
  margin-top: 25%;
}
.q-empty-collection--message {
  text-align: center;
}

.q-fine-print {
  color: #6f6f6f;
}

.q-activity-marker {
  min-width: 24px;
  max-width: 24px;
  width: 24px;
  min-height: 24px;
  max-height: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid transparent;
  display: inline-block;
}
.q-activity-marker__small {
  min-width: 8px;
  max-width: 8px;
  width: 8px;
  min-height: 8px;
  max-height: 8px;
  height: 8px;
}

.q-l-only {
  display: none !important;
}

html {
  background-color: #f6f6f8;
  color: #252525;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  font-weight: 200;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  align-items: center;
}

.q-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  max-width: 1600px;
  width: 100%;
}

a,
a:active,
a:link,
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
  font-weight: 200;
  color: #252525;
  border: none;
}

.q-content {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.q-top-area {
  display: flex;
  flex-direction: row;
  min-height: 3rem;
}
.q-top-area__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  width: 3rem;
}
.q-top-area__user {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  align-items: center;
  gap: 1rem;
}
.q-top-area__user:last-child {
  margin-right: 1rem;
}
.q-top-area__user .q-navigation-item:hover .q-icon, .q-top-area__user .q-navigation-item:hover.q-is-active .q-icon {
  color: #030202;
}
.q-top-area__user .q-navigation-item:hover .q-label, .q-top-area__user .q-navigation-item:hover.q-is-active .q-label {
  color: #030202;
}
.q-top-area__user .q-navigation-item.q-is-active .q-icon {
  color: #030202;
}
.q-top-area__user .q-navigation-item.q-is-active .q-label {
  color: #030202;
}
.q-top-area__user .q-navigation-item .q-icon {
  width: 24px;
  height: 24px;
  color: #6f6f6f;
}
.q-top-area__user .q-navigation-item .q-label {
  font-weight: 200;
  text-decoration: none;
  font-size: 14px;
  color: #6f6f6f;
}
.q-top-area .q-icon {
  width: 24px;
  height: 24px;
}

.q-main-area {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}

.q-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.q-navigation .q-navigation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  justify-content: center;
}
.q-navigation .q-navigation-item:hover .q-icon, .q-navigation .q-navigation-item:hover.q-is-active .q-icon {
  color: #030202;
}
.q-navigation .q-navigation-item:hover .q-label, .q-navigation .q-navigation-item:hover.q-is-active .q-label {
  color: #030202;
}
.q-navigation .q-navigation-item.q-is-active .q-icon {
  color: #030202;
}
.q-navigation .q-navigation-item.q-is-active .q-label {
  color: #030202;
}
.q-navigation .q-navigation-item .q-icon {
  width: 32px;
  height: 32px;
  color: #6f6f6f;
}
.q-navigation .q-navigation-item .q-label {
  font-weight: 200;
  text-decoration: none;
  font-size: 14px;
  color: #6f6f6f;
}

.q-grouped-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}
.q-grouped-content--title h1, .q-grouped-content--title h2, .q-grouped-content--title h3 {
  color: #333333;
  font-weight: 200;
}

.q-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.q-list--horizontal {
  flex-direction: column;
}

.q-list-item {
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #252525;
  box-shadow: 4px 4px 4px -4px #14141e;
  display: flex;
  flex-direction: column;
}
.q-list-item--expanded .q-list-item__header {
  border-color: #252525;
  background-color: #252525;
  color: #ffffff;
  box-shadow: 4px 4px 4px -4px #14141e;
}
.q-list-item--expanded .q-list-item__sub-title {
  color: #ffffff;
}
.q-list-item--expanded .q-list-item__statistics__unit {
  color: #ffffff;
}
.q-list-item__header {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.q-list-item__title {
  font-size: 18px;
  font-weight: 600;
}
.q-list-item__sub-title {
  font-weight: 200;
  font-size: 16px;
  color: #333333;
}
.q-list-item__action {
  display: flex;
  height: 100%;
}
.q-list-item__action .q-icon {
  min-width: 1.5rem;
  max-width: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
}
.q-list-item__statistics {
  display: flex;
  padding: 0.5rem;
  justify-content: space-evenly;
}
.q-list-item__statistics__category {
  text-align: center;
}
.q-list-item__statistics__unit {
  font-weight: 600;
  color: #333333;
  padding: 4px;
}
.q-list-item__statistics__value {
  font-weight: 200;
  padding: 8px 0 16px 0;
}
.q-list-item__content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.q-list-item__content__actions {
  margin-top: 8px;
  align-self: flex-end;
  padding: 16px;
}

.q-icon--s {
  min-width: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  max-height: 2rem;
}
.q-icon--m {
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
}
.q-icon--l {
  min-width: 6rem;
  max-width: 6rem;
  min-height: 6rem;
  max-height: 6rem;
}

.q-dashboard-week-summary .q-list-item {
  flex-direction: row;
}
.q-dashboard-week-summary .q-list-item__header {
  flex-direction: row;
  align-items: center;
  min-width: 4rem;
  min-height: 4rem;
  gap: 1rem;
}
.q-dashboard-week-summary .q-list-item__title {
  font-weight: 200;
}
.q-dashboard-week-summary .q-statistics {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}
.q-dashboard-week-summary .q-statistics__unit {
  color: #333333;
  font-size: 14px;
}
.q-dashboard-week-summary .q-statistics__value {
  font-weight: 600;
}

.q-dashboard-week-total .q-statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.q-dashboard-week-total .q-statistics__unit {
  color: #333333;
  font-size: 1.5rem;
  margin-left: 0.3rem;
}
.q-dashboard-week-total .q-statistics__value {
  font-weight: 600;
  font-size: 4rem;
}

.q-project-list-item {
  flex-direction: column;
}
.q-project-list-item .q-list-item__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  gap: 0.5rem;
}
.q-project-list-item .q-list-item__title .q-project-title {
  flex-grow: 2;
  align-self: flex-start;
  display: flex;
  gap: 0.5rem;
}
.q-project-list-item .q-list-item__sub-title {
  align-self: start;
  padding-left: 2.1rem;
}
.q-project-list-item .q-activity-table .q-icon {
  min-width: 1.5rem;
  max-width: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
}
.q-project-list-item .q-activity-table td {
  white-space: nowrap;
}
.q-project-list-item .q-activity-table .q-activity-marker-column .q-activity-marker {
  margin-left: 12px;
  margin-right: 12px;
}
.q-project-list-item .q-activity-table .q-activity-name-column {
  width: 100%;
}
.q-project-list-item .q-activity-table .q-activity-action-column button {
  margin-left: 12px;
}

.q-empty-collection {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.q-empty-collection__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.q-fine-print {
  color: #6f6f6f;
}

.q-cursor--pointer {
  cursor: pointer;
}

.q-tag {
  margin: 0 8px;
  padding: 4px;
  background-color: #FDEDEC;
  border-radius: 4px;
  border: 1px solid #ffa07a;
  color: #ffa07a;
  font-size: 14px;
  align-self: center;
}

@media (min-width: 640px) {
  .q-xs-only {
    display: none !important;
  }

  .q-l-only {
    display: unset !important;
  }

  body.q-body {
    height: 100vh;
    min-height: 100vh;
  }

  .q-top-area {
    min-height: 5rem;
  }
  .q-top-area__logo {
    width: 5rem;
  }
  .q-top-area .q-navigation-item:hover .q-icon, .q-top-area .q-navigation-item:hover.q-is-active .q-icon {
    color: #030202;
  }
  .q-top-area .q-navigation-item:hover .q-label, .q-top-area .q-navigation-item:hover.q-is-active .q-label {
    color: #030202;
  }
  .q-top-area .q-navigation-item.q-is-active .q-icon {
    color: #030202;
  }
  .q-top-area .q-navigation-item.q-is-active .q-label {
    color: #030202;
  }
  .q-top-area .q-navigation-item .q-icon {
    width: 24px;
    height: 24px;
    color: #6f6f6f;
  }
  .q-top-area .q-navigation-item .q-label {
    font-weight: 200;
    text-decoration: none;
    font-size: 14px;
    color: #6f6f6f;
  }

  .q-main-area {
    flex-direction: row;
  }

  .q-navigation {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 5rem;
    gap: 1rem;
  }
  .q-navigation .q-navigation-item {
    width: 100%;
    border-bottom: 0;
  }
  .q-navigation .q-navigation-item:hover .q-icon, .q-navigation .q-navigation-item:hover.q-is-active .q-icon {
    color: #030202;
  }
  .q-navigation .q-navigation-item:hover .q-label, .q-navigation .q-navigation-item:hover.q-is-active .q-label {
    color: #030202;
  }
  .q-navigation .q-navigation-item.q-is-active .q-icon {
    color: #030202;
  }
  .q-navigation .q-navigation-item.q-is-active .q-label {
    color: #030202;
  }
  .q-navigation .q-navigation-item .q-icon {
    width: 32px;
    height: 32px;
    color: #6f6f6f;
  }
  .q-navigation .q-navigation-item .q-label {
    font-weight: 200;
    text-decoration: none;
    font-size: 14px;
    color: #6f6f6f;
  }

  .q-content {
    padding-top: 0;
  }

  .q-list--horizontal {
    flex-direction: row;
  }

  .q-list-item {
    flex-direction: column;
    justify-content: space-between;
  }
  .q-list-item__header {
    padding: 1rem;
  }
  .q-list-item__content {
    padding: 1rem;
  }

  .q-dashboard-week-summary .q-list-item__header {
    flex-direction: column;
    min-width: 4rem;
    min-height: 4rem;
    gap: 1rem;
  }
  .q-dashboard-week-summary .q-statistics {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 0;
  }

  .q-dashboard-week-total .q-list-item {
    max-width: 20rem;
  }
}

/*# sourceMappingURL=quarter.css.map */
