<NavLink ActiveClass="q-is-active" Match="@Match" href="@Path" class="q-navigation-item" @attributes="@InputAttributes">
    @Icon
    <span class="q-label" test="nav-title">@Title</span>
</NavLink>

@code {
    // Tested via PageNavigationTest

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Path { get; set; } = "";

    [Parameter]
    public string IconRef { get; set; } = "";

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.All;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>();

    private MarkupString Icon
        => new MarkupString(@$"<svg class=""q-icon""><use xlink:href=""{IconRef}""></use></svg>");
}