.q-ts-widget-summary
    min-width: $widget-width - (2 * $pillow-medium)
    max-width: $widget-width - (2 * $pillow-medium)
    padding:  $pillow-medium

    .q-empty-collection
        margin: 0

    .q-list-item__header
        display: flex
        flex-direction: row
        align-items: baseline
        justify-content: center

    .q-ts-summary-value
        font-size: $font-size-tera

    .q-ts-summary-unit
        font-size: $font-size-mega
        padding-left: $pillow-small

    .q-list-item__content
        table
            width: unset

            tbody
                &::after
                    height:  $pillow-medium
                    display: table-row
                    content: ''

            th,
            td
                &.q-ts-summary-marker-column
                    .qa-activity-marker
                        margin-left: $pillow-medium

                &.q-ts-summary-value-column
                    font-weight: 200
                    text-align: right
                    vertical-align: top
                    color: $color-text

                &.q-ts-summary-activity-column
                    font-weight: 200
                    padding-left: 10px
                    color: $color-text
                    display: flex

                    .q-ts-summary-name
                        flex-grow: 1

                    .q-ts-summary-archived
                        justify-self: flex-end

            th
                padding-top:  $pillow-medium
                text-align: left
                font-size: $font-size

                &.q-ts-summary-value-column,
                &.q-ts-summary-activity-column
                    font-weight: 600

            tr:last-of-type > td
                padding-bottom: $pillow-small
