@using Quarter.State.ViewModels

<div class="q-activity-marker">
    <div class="q-activity-marker--color"
         test="activity-item-marker--color"
         style="background-color: @Activity?.Color; border-color: @Activity?.DarkerColor;"></div>
    <div class="q-activity-marker--title"
         test="activity-item-title">@Activity?.Name</div>
</div>
@code {
    // Implicitly tested via TimesheetActivitySelectorWidgetTest
    [Parameter]
    public ActivityViewModel? Activity { get; set; }
}