@using Quarter.Components
@using Quarter.State
@using Quarter.State.Forms
@inherits Quarter.Core.UI.Components.QuarterComponent<Quarter.State.ApplicationState>

<Modal Title="Add user">
    <EditForm Model="@FormData" OnValidSubmit="@OnConfirm" class="q-form-pane" test="add-user-modal">
        <DataAnnotationsValidator/>
        <fieldset>
            <div class="q-form-pane--details">
                <label for="user-email">E-mail:</label>
                <div class="q-fine-print">The user e-mail address</div>
            </div>
            <div class="q-form-pane--controls">
                <InputText id="user-email"
                           name="user-email"
                           placeholder="jane.doe@example.com"
                           @bind-Value="FormData.Email"
                           test="user-email"/>
                <ValidationMessage For="@(() => FormData.Email)" test="user-email-validation"/>
            </div>
        </fieldset>
        <fieldset class="q-form-pane--actions">
            <button type="button"
                    class="q-button q-button--ghost"
                    test="cancel-button"
                    @onclick="@OnCloseModal">Cancel</button>
            <button type="submit"
                    class="q-button q-button--primary"
                    test="confirm-button">Create</button>
        </fieldset>
    </EditForm>
</Modal>

@code {
    [Parameter]
    public UserFormData FormData { get; set; } = new ();

    private Task OnConfirm()
        => DispatchAsync(new AddUserAction(FormData));

    private Task OnCloseModal()
        => DispatchAsync(new CloseModalAction());
}