@using Quarter.Components.Navigation

<nav class="q-navigation">
    <PageNavigationItem Title="Admin" Path="@Page.Admin" IconRef="#icon-settings"  test="nav-admin" />
    <PageNavigationItem Title="Users" Path="@Page.AdminUsers" IconRef="#icon-users" test="nav-users" />
    <PageNavigationItem Title="Application" Path="@Page.Home" IconRef="#icon-home" test="nav-home" />
    <PageNavigationItem Title="Logout" Path="@Page.Logout" IconRef="#icon-logout" test="nav-logout" />
</nav>

@code {
}